siia-examples/flight-booking/integration/src/main/resources/xsd/flightQuote.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Copyright 2012 the original author or authors.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="flightQuote" type="flightQuoteType"/>
  <xs:complexType name="endLocationType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="city"/>
        <xs:attribute type="xs:string" name="countryCode"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="flightQuoteType">
    <xs:sequence>
      <xs:element type="xs:string" name="requiredSeatClass"/>
      <xs:element type="xs:string" name="returnRequired"/>
      <xs:element type="xs:dateTime" name="startOfLegDate"/>
      <xs:element type="xs:dateTime" name="endOfLegDate"/>
      <xs:element type="startLocationType" name="startLocation"/>
      <xs:element type="endLocationType" name="endLocation"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="startLocationType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="city"/>
        <xs:attribute type="xs:string" name="countryCode"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>